<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Infrastructure as Code</title>
    </head>
           Welcom to your site Automatisation of Infra! Notre Workshop sera basé sur la Haute disponibilié d'une application Web
           
    <body style="background-color:silver;">
       <p style="color:#FF0000";>Merci de votre participation à ce Workshop HCI pour la Haute disponibilité </p>
       <p style="color:#FF0000";>Bientôt notre workshop va commencé </p>
    </body>
</html>
