#HAproxy configuration
global
     log /dev/log local0 debug
     chroot /var/lib/haproxy
     stats timeout 30s
     user haproxy
     group haproxy
     daemon

defaults
     log global
     mode http
     option httplog
     option dontlognull
     timeout connect 5000
     timeout client 50000
     timeout server 50000

listen stats
     bind *:5000
     mode http
     stats enable
     stats uri /stats
     stats refresh 2s
     stats auth marlyns:root2021
     stats show-legends

frontend nginx_front
     description Front de hce1.workshop.fr & hce2.workshop.fr
     bind *:80
     mode http
     acl hce1_front1 hdr_dom(host) -i hce1.workshop.fr
     use_backend hce1 if hce1_front1
     
     acl hce2_front2 hdr_dom(host) -i hce2.workshop.fr
     use_backend hce2 if hce2_front2

backend hce1
     description Backend hce1.workshop
     #server nginx1 192.168.9.204:80 check

backend hce2
     description Backend hce2.workshop
     balance roundrobin
     server nginx2 192.168.9.204:80 check
     server nginx3 192.168.9.205:80 check
